.ela-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ela-item {
    padding: 10px;
    margin-bottom: 10px;
}

.el-col-1 {
    flex: 0 0 100%;
}

.el-col-2 {
    flex: 0 0 50%;
}

.el-col-3 {
    flex: 0 0 33.333333%;
}

.el-col-4 {
    flex: 0 0 25%;
}

.image-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-thumbnail img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
}

.image-original img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
.image-item-back{
    position: relative;
    width: 100%;
    height: 100%;
}
.ela-item .card-skin-back {
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
}

.card-skin-bottom {
    padding: 20px;
}

.card-skin-top {
    position: relative;
}

.card-skin-top-cat {
    position: absolute;
    top: 5%;
    right: 5%;
}

.card-skin-top-cat a {
    background: #60ce71;
    color: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 5px;
    font-size: 12px;
    display: inline-block;
}

.card-skin-top .ela-post-item-avatar {
    position: absolute;
    bottom: -24px;
    left: 20px;
    border-radius: 100% !important;
    width: 60px;
}

.ela-post-item-read-more {
    color: #00ab6b;
}

.item_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #027f00;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    display: none;
}

.ela-item:hover .item_hover{
    display: flex;
    font-size: 25pt;
}

@media (max-width: 576px) {
    .el-mobile-col-1 {
        flex: 0 0 100%;
    }

    .el-mobile-col-2 {
        flex: 0 0 50%;
    }

    .el-mobile-col-3 {
        flex: 0 0 33.3333333%;
    }

    .el-mobile-col-4 {
        flex: 0 0 25%;
    }
}

@media (max-width: 1000px) and (min-width: 576px) {
    .el-tablet-col-1 {
        flex: 0 0 100%;
    }

    .el-tablet-col-2 {
        flex: 0 0 50%;
    }

    .el-tablet-col-3 {
        flex: 0 0 33.3333333%;
    }

    .el-tablet-col-4 {
        flex: 0 0 25%;
    }
}